/* InstructorDashboard.css */

.instructor-dashboard {
    font-family: 'Arial', sans-serif;
  }
  
  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .logo {
    /* Adjust the width and height as per your logo's dimensions */
    width: 50px;
    height: 50px;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
  }
  
  .user-profile span {
    margin-right: 10px;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  h1 {
    margin-left: 20px;
  }
  
  .courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .course-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex: 1 0 21%; /* Adjusts the card width to show 4 cards per row */
    display: flex;
    flex-direction: column;
  }
  

  .course-info {
    margin-top: 10px;
    text-align: left;
    width: 100%;
  }

  .course-info h2 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
  }

  .course-info p {
    margin: 5px 0;
    color: #555;
  }

  .course-card img {
  max-width: 100%;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 15px; /* Space between image and info */
}
  
  .add-new {
    background-color: #e0e0e0;
    cursor: pointer;
  }

  .tags-container {
    display: flex;
    gap: 10px;
    margin-top: 5px;
  }
  
  .tag-button {
    background: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
  }
  
  .tag-button.selected {
    background: #007bff; /* Change this color to your selected state color */
    border: 1px solid #0056b3;
    color: #fff;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .popup form {
    display: flex;
    flex-direction: column;
  }
  
  .popup label {
    margin-bottom: 10px;
  }
  
  .popup button {
    margin-top: 10px;
  }
  